/* Barra de Busqueda */
/* .form-control-borderless {
  border: none;
} */

/* .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
} */
.header-recolector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Fin Barra de busqueda */
  
  
  .card{
    width: 250px;
    min-width: 250px;
    margin: 5px;
  }
.contenedorcards{      
    display: flex;    
    flex-flow: row wrap;  
    justify-content: center;
}

.imagen-publicacion{
    height: 200px; 
    width: 100%; 
    display: block;
    padding: 5px;
    border-radius: 10px;
}
.imagen-publicacion:hover{
  transition:all 0.3s ease;
  transform: scale(0.9);
}
.flex-card-footer{
  display: flex;
  justify-content: space-between;
}
.footer-precio{
  display: flex;
  justify-content: center;
}

/* Estilos de Paginacion */
.pagination-center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination-item {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination-active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination-item:hover:not(.pagination-active){ 
  background-color:rgb(72,144,178);
}

.btn-publicacion{
  background-color: #018B40 !important;
  color: white !important;
  border:none !important;  
}

.btn-publicacion:hover{
  background-color: #00612C !important;
  /* color:#00612C !important; */
  /* border:1px solid #0D590D !important;   */
}

.btn-publicacion-secondary{
  background-color: white !important;
  color: #018B40 !important;
  border:1px solid #018B40 !important;  
}

.btn-publicacion-secondary:hover{
  background-color: #00B96E !important;
  color:white !important;
  /* border:1px solid #0D590D !important;   */
}
.control-left{
  text-align: left !important;
  padding-left: 5px;
}

.btn-modals{
  background-color: white !important;
  color: #10924B !important;
  border:none !important;  
}

.btn-modals:hover{
  background-color: #EBF6F0 !important;
  color:#4CAF50 !important;
  border:none !important;  
}

.toastMensaje{
  color: white !important;
}

#btnflotantePublicacion{
  background-color: #4CAF50;
  color: white;
}
#btnflotantePublicacion:hover{
  background-color: #F8F9FA;
  color:#4CAF50;
  border:1px solid #4CAF50;
}
